/* -------------------------------------
 * Typography Variables
 * ------------------------------------- */
$base-font: "Proxima Nova", "Helvetica", "sans-serif", sans-serif;
$header-font: $base-font;
$font-color: #6F8087;
$header-color: #404D5C;

/* -------------------------------------
 * Color Variables
 * ------------------------------------- */
$body-background-color: #E2E1E0;
