<div class="container">
  <div class="row">
    <div class="col s12">
      <h1>winrates.gg</h1>
      <p>League of Legends Champion Winrates</p>
    </div>
    <div class="col s4 m3 l2">
      <div class="card">
        <span>Test</span>
      </div>
    </div>
    <div class="col s4 m3 l2">
      <div class="card">
        <span>Test</span>
      </div>
    </div>
  </div>
</div>
